#bloc-2-services__titletop
{
    font-size: 22px;
    margin-bottom: 20px;
}

#bloc-2-services__titlebottom 
{
    font-size: 20px;
    font-style: italic;
    line-height: 1.3em;
}

#bloc-2-services__titlebottom span 
{
    font-size: 14px;
    font-style: normal;
}
#bloc-4-portfolio__title
{
    font-size: 22px;
    color: #707070 !important;
}

#contactp 
{      
    height: 100%;
    width: 100%;
    font-size: 20px !important;
}

#contactp span 
{
    float: right;
}